<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a href="/" class="navbar-brand">Meu Blog</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/logout" class="btn btn-danger ">Sair</a>
        </li>
    </ul>
</nav>